table.properties
{ margin-left: 5mm;
  border-width: 1px;
  border-style: solid;
  border-collapse: collapse;
}

table.properties td
{ border-width: 1px;
  border-style: solid;
  padding-left: 5px;
  padding-right: 5px;
  vertical-align: top;
}

table.properties th
{ background-color: black;
  color: white;
}

td ul
{ margin: 0px;
  padding-left: 15px;
}

tr.even td
{ background-color: #e0e0e0;
}

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }